server:
  address: 127.0.0.1
  port: 8080

spring:
  datasource:
    url: jdbc:oracle:thin:@//10.0.0.65:1521/orcl
    username: qlnsd_dev_training
    password: Ab@123456
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
